name: Publish Package to npmjs

on:
  workflow_call:
    inputs:
      commit_hash:
        description: "Commit to checkout and to publish"
        required: true
        type: string
  workflow_dispatch:
    inputs:
      commit_hash:
        description: "Commit to checkout and to publish"
        required: true
        type: string

jobs:
  publish:
    runs-on: ["self-hosted", "org", "npm-publish"]
    permissions:
      contents: write
      id-token: write
      pull-requests: write
      repository-projects: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.commit_hash }}

      - name: Get NPM Token from Akeyless
        id: get_npmjs_token
        uses: docker://us-west1-docker.pkg.dev/devopsre/akeyless-public/akeyless-action:latest
        with:
          api-url: https://api.gateway.akeyless.celo-networks-dev.org
          access-id: p-kf9vjzruht6l
          static-secrets: '{"/static-secrets/NPM/npm-publish-token":"NPM_TOKEN"}'

      - uses: actions/setup-node@v5
      - uses: oven-sh/setup-bun@v2

      - run: bun install

      - name: Compile typescript library
        run: bun run build

      - name: Bump version
        id: bump_version
        run: echo "NPM_VERSION=$(npm version patch --no-git-tag-version)" >> $GITHUB_OUTPUT

      - name: Publish
        run: bun publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ env.NPM_TOKEN }}
          NPM_CONFIG_TOKEN: ${{ env.NPM_TOKEN }}
          NODE_ENV_TOKEN: ${{ env.NPM_TOKEN }}

      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "auto: publish ${{ steps.bump_version.outputs.NPM_VERSION }}"
          tagging_message: ${{ steps.bump_version.outputs.NPM_VERSION }}
